.basic-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
